body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    color: white;
    width: 60%;
    height: 150px;
    text-align: center;
    border: 1px solid black;
}
.container h1 {
    color: blue;
}